<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="TestCalculatorFullExample">
        <classes>
            <class name="org.automation.TestCalculatorFullExample">
                <methods>
                    <include name="testAddition"/>
                    <include name="testSub"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.automation.testng.listeners.CombineTransFormListener"></listener>
    </listeners>
</suite>