<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllureReportingExamples" parallel="false">
    <test name="Complete Testing">
        <classes>
            <class name="org.automation.TestCalculatorFullExample"/>
           <!-- <class name="org.automation.unitTests.*"/>-->
        </classes>
    </test>
</suite>
